<ion-view>
  <ion-nav-title>
    Code Delivery - Login
  </ion-nav-title>
  <ion-content class="padding has-header">
    <form name="form" ng-submit="login()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" name="username" ng-model="user.username" placeholder="Usuário" required="required"/>
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="password" name="password" ng-model="user.password" placeholder="Senha" required="required"/>
        </label>
      </div>
      <button type="submit" class="button button-full button-positive">Login</button>
    </form>
  </ion-content>
</ion-view>
