<ion-view>
  <ion-nav-title>Pedido</ion-nav-title>
  <div class="bar bar-subheader">
    <h2 class="title">Total: R${{total}}</h2>
  </div>
  <ion-content class="padding has-subheader">
    <ion-list>
      <ion-item ng-repeat="i in items">
        <h2>{{i.name}}</h2>
        <div class="row">
          <div class="col">
            Quantidade: {{i.amount}}
            <i class="ion ion-cash"> {{i.price}}</i>
          </div>
          <div class="col text-right">
            <i class="ion ion-social-usd"> {{i.amount * i.price}}</i>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
