<ion-view>
  <ion-nav-title>Nossos produtos</ion-nav-title>
  <div class="bar bar-subheader">
    <h2 class="title">Escolha seu produto</h2>
  </div>
  <ion-content class="padding has-subheader">
    <ion-list>
      <ion-item ng-repeat="p in products" ng-click="addItem(p)">
        {{p.name}}
        <span class="item-note">
          <i class="ion ion-cash"> {{p.price}}</i>
        </span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
